<html>
    <head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="pure-g">
            <div class="pure-u-1-2">
                <center>
                    <h3>{{ email.subject }}</h3>
                    <h4>{{ email.sender }}</h4>
                </center>
                <hr>
                <ul>
                    <li><b>Sender mismatch:</b> {{ email.sender_domain != email.envelope_domain }}</li>
                    <li><b>Attachments:    </b> {{ True if email.attachments else False }}</li>
                </ul>
                <center>
                    <div style="width:60%;">{{ email.html_as_text }}</div>
                </center>
                <hr>
                <ul>
                    <b>Hosts</b>
                    {% for i in email.hosts %}
                        <li>{{i}}</li>
                    {% endfor %}
                </ul>
                <hr>
                <ul>
                {% for k,v in email.headers.items() %}
                    <li><b>{{ k }}:</b> {{ v }}</li>
                {% endfor %}
                </ul>
            </div>
            <div class="pure-u-1-2">
                <center>
                    <div style="position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%);">
                        <b>Current tag:</b> {{ cat }}
                        <form action='/tag' method='POST'>
                            <input type='hidden' id='filename' name='filename' value='{{ tag[1] }}'/>
                            <button id='cat' name='cat' style="width:150px" value="0">Legitimate</button>
                            <button id='cat' name='cat' style="width:150px" value="1">Spam</button>
                            <br>
                            <button id='cat' name='cat' style="width:150px" value="2">Phishing</button>
                            <button id='cat' name='cat' style="width:150px" value="3">Malware</button>
                            <br>
                            <button id='cat' name='cat' style="width:150px" value="4">Fraud</button>
                            <button id='cat' name='cat' style="width:150px" value="5">Unclassified</button>
                        </form>
                    </div>
                </center>
            </div>
        </div>
    </body>
</html>